<h1>Programs</h1>




<%= link_to 'Create New Program', new_program_path,  class: 'program-new', remote: true  %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th class="image">Image</th>
      <th class="title">Title</th>
      <th class="url">Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td class="cms-img"><%= image_tag program.image.url %></td>
        <td><%= program.title %></td>
        <td><%= program.url %></td>
        <td><%= simple_format(program.description) %></td>
        <td class="show"><%= link_to 'Show', program, class: 'program-show', remote: true %></td>
        <td class="edit"><%= link_to 'Edit', edit_program_path(program), class: 'program-edit', remote: true %></td>
        <td class="destroy"><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
