<div class="cms">
  <span class="logged">
    <% if current_admin %>
    <span>You are logged in!</span> | <%= link_to 'Sign Out', logout_path %>
    <% end %>
    <%= link_to 'Go Home', new_home_path, class: "home-link-cms" %>
  </span>

  <div class="top-cms">
    <%= image_tag 'logo-copy.png', class: "blue-miami-logo rounded mx-auto d-block", alt: "city of miami logo" %>
  </div>
  <nav class="cms-nav">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</a>
      <a class="nav-item nav-link" id="nav-programs-tab" data-toggle="tab" href="#nav-programs" role="tab" aria-controls="nav-programs" aria-selected="false">Programs</a>
      <a class="nav-item nav-link" id="nav-news-tab" data-toggle="tab" href="#nav-news" role="tab" aria-controls="nav-news" aria-selected="false">News</a>
      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <div class="row-cms">
        <div class="column-cms">

          <table style="width:80%" class="table">
            <p id="dash">Programs</p>
            <tr>
              <th>Title</th>
              <th>Last Update</th>
            </tr>
            <tr>
              <% @programs.each do |program| %>
              <td><%= program.title %></td>
              <td><%= program.updated_at %></td>
              <% end %>
            </tr>
          </table>
        </div>


        <div class="column-cms">
          <table style="width:80%" class="table">
            <p id="dash">News</p>
            <tr>
              <th>Title</th>
              <th>Last Update</th>
            </tr>
            <tr>
              <% @news_all.last(3).each do |item| %>
              <td><%= item.title %></td>
              <td><%= item.updated_at %></td>
              <%end%>
            </tr>
          </table>
        </div>
        <div class="column-cms">

          <table style="width:80%" class="table">
            <p id="dash">About</p>
            <tr>
              <th>Last Update</th>
            </tr>
            <tr>
              <% @abouts.each do |about| %>
              <td><%= about.updated_at.localtime %></td>
              <% end %>
            </tr>
          </table>

        </div>
      </div>



    </div>
    <div class="tab-pane fade" id="nav-programs" role="tabpanel" aria-labelledby="nav-programs-tab">

      <%= render partial: 'programs/index' %>





    </div>
    <div class="tab-pane fade" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">



      <%= render partial: 'news/index' %>


    </div>
    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">



      <%= render partial: 'abouts/index' %>


    </div>
  </div>
</div>
