<p id="notice"><%= notice %></p>

<% @news_all.each do |news|  %>
<div class="card-group">
<div class="card" style="width: 18rem;">
  <%= image_tag news.img, class: "card-img-top", alt: "Card image cap" %>
  <div class="card-body">
    <h4 class="card-title"><%= news.title %></h4>
    <p class="card-text"><%= news.description %></p>
    <%= link_to 'See Article', news.url, class: "btn btn-primary", id: "mayor-news-text" %>
  </div>
  </div>
    <% end %>
</div>
