<p id="notice"><%= notice %></p>

<div class="news-show-box">
<p>
  <strong>Image:</strong>
  <%= image_tag @news.image.url %>
</p>

<p>
  <strong>Title:</strong>
  <a href=<%= "@news.url" %>> <%= @news.title %></a>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>
</div>
