<!DOCTYPE html>
<html>
  <head>
    <title>Mayor Suarez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_admin %>
    <p>You are logged in!</p>
    <% end %>

    <%= yield %>
  </body>
</html>
